<!DOCTYPE html> 

<!-- //ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§\\ -->
<!-- //ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§                Web Developed By ð”¸lex ð• ð”½uller             ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§\\ -->
<!-- //ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§                      www.alexjfuller.com                  ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§\\ -->
<!-- //ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§   ________________________â™  â™£ â™¥ â™¦______________________   ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§\\ -->
<!-- //ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§            Copyright 2020 Â© - www.thai-dine.com           ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§\\ -->
<!-- //ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§                      All Rights Reserved                  ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§ ðŸž§ðŸž§ðŸž§\\ -->
<!-- //ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§ðŸž§\\ -->

<html lang="en">
    <head> 
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136603027-2"></script>
        <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-136603027-2');</script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Traditional and Authentic Thai Recipes and Dishes - How to cook Thai food? Thai recipes, ingredients and cooking instructions - Thai-Dine.com">
        <meta name="keywords" content="traditional authentic thai recipes, food, ingredients, cooking instructions">
        <meta name="author" content="Alex J Fuller (www.alexjfuller.com)">
        <link type="text/css" rel="stylesheet" href="styles/main.css">    
    </head>
    <body>
        <script defer type="module" src="scripts/app.js"></script>
    </body> 
</html>
